.header{
    text-align: center;
    background-color:aliceblue;
}
.heading__1{
    text-align: center;
    background-color:whitesmoke;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__2{
    text-align: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__3{
    text-align: center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
    text-decoration-color: black;
}.heading__4{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__5{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__6{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__7{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__8{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__9{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__10{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__i{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__ii{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__iii{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__iv{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__v{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__vi{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.heading__vii{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}

.footer__1{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}.footer__11{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}

.footer__2{
    text-align:center;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
.footer__3{
    text-align:center;
    background-color:aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}.footer__12{
    text-align:center;
    background-color:aliceblue;
    background-repeat: no-repeat;
    background-size: auto;
}
ul{
    text-align: center;
    list-style-position: inside;
    appearance: none;
}
footer{
    background-color: aliceblue;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

